.button-footer-logout {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    /* width: 100% !important; */
    margin-top: 20px !important;
 }