.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .search-bar input {
    padding-left: 35px;
  }
  
  .search-icon {
    position: absolute;
    left: 10px;
    color: gray;
  }
  
  .modal.fade.show {
    display: block;
  }
  
  .modal.fade.d-none {
    display: none;
  }

  /* modal add */
  .modal.fade.show {
    display: block;
  }
  
  .modal.fade.d-none {
    display: none;
  }
  
  .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  